<button type="button" ng-click="addTask()">Add Task</button>
<button type="button" ng-click="removeTask()">Remove Task</button>
<button type="button" ng-click="changeTimeDomain('1hr')">1 HR</button>
<button type="button" ng-click="changeTimeDomain('3hr')">3 HR</button>
<button type="button" ng-click="changeTimeDomain('6hr')">6 HR</button>
<button type="button" ng-click="changeTimeDomain('1day')">1 DAY</button>
<button type="button" ng-click="changeTimeDomain('1week')">1 WEEK</button>
<button type="button" ng-click="zoom('left')"><</button>
<button type="button" ng-click="zoom('right')">></button>
<button type="button" ng-click="viewActualTime()">Actual Date</button>